.encabezado{
    #iso{
        width: 200px;
        margin-bottom: 30px;
    }
    #nav{
        background-color: $darkColor; 
        position: sticky; 
        ul{
            li{
                a{
                    color: $primaryColor;
                    text-decoration: none;
                    font-size: $textLg;
                    font-family: $fontMain;
                    margin-left: 10px;
                    
                    &:hover{
                        font-weight: 600;
                        color: $secondaryColor;
                    }
                }    
            }
        }
    }     
    @media (max-width: 368px){
        #iso{
            display: none;
        }
    }
    @media (min-width: 369px){
        #logo{
            display: none;
        }
    }
}